<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ENA Coach</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="./assets/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- Header Start -->
        <div class="container-fluid bg-dark px-0">
            <div class="row gx-0">
                <div class="col-lg-3 bg-dark d-none d-lg-block">
                    <a href="/about" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                         <div class="col-6 text-end">
                                <img class="logo-container" src="./assets/img/logo.png">
                         </div>
                    </a>
                </div>
                <div class="col-lg-9">
                    <div class="row gx-0 bg-white d-none d-lg-flex">
                        <div class="col-lg-7 px-5 text-start">
                            <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                                <i class="fa fa-envelope text-primary me-2"></i>
                                <p class="mb-0">email</p>
                            </div>
                            <div class="h-100 d-inline-flex align-items-center py-2">
                                <i class="fa fa-phone-alt text-primary me-2"></i>
                                <p class="mb-0">phone number</p>
                            </div>
                        </div>
                        <div class="col-lg-5 px-5 text-end">
                           <div class="d-inline-flex align-items-center py-2">
                                <a class="me-3" href="https://www.facebook.com/MyEnaCoach"><i class="fab fa-facebook-f"></i></a>
                                <a class="me-3" href="https://twitter.com/EnaCoach"><i class="fab fa-twitter"></i></a>
                                <a class="me-3" href="https://www.instagram.com/EnaCoach/"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                        <a href="/about" class="navbar-brand d-block d-lg-none">
                            <div class="col-6 text-end">
                                <img class="logo-container" src=".\assets\img\logo.png">
                            </div>
                        </a>
                        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                                    <div class="navbar-nav mr-auto py-0">
                                       <!-- Home, About us, Contact us, Print ticket, Gallery links -->
                                       <a href="/home" hrefActive="active" ariaCurrentWhenActive="page">Home</a>
                                       <a href="/about" hrefActive="active" ariaCurrentWhenActive="page">About us</a>
                                       <a href="/contact" hrefActive="active" ariaCurrentWhenActive="page">Contact us</a>
                                       <a href="/ticket" hrefActive="active" ariaCurrentWhenActive="page">Print ticket</a>
                                       <a href="/gallery" hrefActive="active" ariaCurrentWhenActive="page">Gallery</a>

                                       <!-- Dropdown for sign in and register -->
                                      <div class="nav-item dropdown active">
                                      <a href="#" class="nav-link dropdown-toggle active" data-toggle="dropdown">
                                      sign in\register
                                      </a>
                                     <div class="dropdown-menu rounded-0 m-0">
                                     <!-- sign in and register links inside the dropdown -->
                                    <a href="/login" class="dropdown-item active ">sign in</a>
                                    <a href="/reg" class="dropdown-item active">register</a>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Header End -->

        <!-- Carousel Start -->

        <div class="container-fluid page-header mb-5 p-0" style="background-image: url(./assets/img/carousel-1.jpg);">
            <div class="container-fluid page-header-inner py-5">
                <div class="container text-center pb-5">
                                <h6 class="section-title text-white text-uppercase mb-3 animated slideInDown">LEARN MORE</h6>
                                <h1 class="display-3 text-white mb-4 animated slideInDown">ABOUT US</h1>
                                <a href="contact.html" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Contact Us</a>
                                <a href="ticket.html" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Print ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
        <!-- Carousel End -->

        <!--Introduction-->
 <section id="/about" class="introduction scrollto">

        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <h1 class="section-title text-start text-primary text-uppercase">About Us</h1>

                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <!-- About details Start -->
           <div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6">
    <div class="rounded shadow overflow-hidden">
        <div class="position-relative">
    <img class="normal-image" src="./assets/img/retouch_2024031704361610.jpg">
    <div class="d-inline-flex align-items-center py-2">
        <a class="me-3" href="https://www.facebook.com/MyEnaCoach"><i class="fab fa-facebook-f"></i></a>
        <a class="me-3" href="https://twitter.com/EnaCoach"><i class="fab fa-twitter"></i></a>
        <a class="me-3" href="https://www.instagram.com/EnaCoach/"><i class="fab fa-instagram"></i></a>
    </div>
</div>

    </div>
</div>

        <div class="col-lg-9 mt-3">
            <div class="text-left">
                <h5 class="fw-bold mb-0">ABOUT US</h5>
            </div>
            <div class="p-4">
                <p>ENA Coach is a bus and shuttle company being run by ENA Investments Limited.
                The company has been operational since 2010 and re-branded from 2008 to 2018.</p>
                <p>With Experience in the PSV industry and courier services, ENA Coach in partnership
                with Explorer Parcel Handlers (EPH) has evaluated the challenges and come up with better
                services to offer exemplary services. ENA Coach covers more than 30 routes within Kenya
                and is working round the clock to add more routes within Kenya and the greater East African region.</p>
				<p>Our vision is to offer world-class transportation services in an innovative way
                while harnessing the use of technology to delight retain and defend our clients.</p>
            </div>
        </div>
    </div>
</div>

        <!-- About details End -->

<div>
    <a href="https://play.google.com/store/apps/details?id=com.enacoach">
        <img class="icon-img" src="./assets/img/logo-2.jpg" alt="">
    </a>
    <a href="https://voltic-africa.com/">
        <img class="icon-img" src="./assets/img/logo-3.png" alt="">
    </a>
</div>
 </section>
        <!-- Footer Start -->
       <footer id="landing-footer" class="clearfix">

       <!-- Footer Start -->
<footer class="footer bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <p>&copy;Copyright 2024.</p>
            </div>
            <div class="col-md-6 text-end">
                <a href="terms.html" class="text-white me-4">Privacy Policy|Terms and Conditions</a>
            </div>
        </div>
        <div class="col-md-6">
            <ul class="list-unstyled">
                <li><a href="/home" hrefActive="active" ariaCurrentWhenActive="page">Home</a></li>
                <li><a href="/about" class="nav-item nav-link">About us</a></li>
                <li><a href="/contact" class="nav-item nav-link">Contact us</a></li>
                <li><a href="/ticket" class="nav-item nav-link">Print ticket</a></li>
                <li><a href="/gallery" class="nav-item nav-link">Gallery</a></li>
            </ul>
        </div>
    </div>

</footer>
        <!-- Footer End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/lib/easing/easing.min.js"></script>
    <script src="./assets/lib/waypoints/waypoints.min.js"></script>
    <script src="./assets/lib/counterup/counterup.min.js"></script>
    <script src="./assets/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="./assets/lib/tempusdominus/js/moment.min.js"></script>
    <script src="./assets/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="./assets/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
       <script src="./assets/js/main.js"></script>
