 <!-- Footer Start -->
 <footer class="footer bg-dark text-white py-4">
  <div class="container">
      <div class="row">
          <div class="col-md-6 ">
              <p>&copy;Copyright 2024.</p>
          </div>
          <div class="col-md-6 text-end">
              <a href="terms.html" class="text-white me-4">Privacy Policy|Terms and Conditions</a>
          </div>
      </div>
      <div class="col-md-6">
          <ul class="list-unstyled">
              <li><a href="/home" class="nav-item nav-link active">Home</a></li>
              <li><a href="/about" class="nav-item nav-link ">About us</a></li>
              <li><a href="/contact" class="nav-item nav-link">Contact us</a></li>
              <li><a href="/ticket" class="nav-item nav-link">Print ticket</a></li>
              <li><a href="/gallery" class="nav-item nav-link">Gallery</a></li>
          </ul>
      </div>
  </div>

</footer>


      <!-- Footer End -->


      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="./assets/lib/easing/easing.min.js"></script>
  <script src="./assets/lib/waypoints/waypoints.min.js"></script>
  <script src="./assets/lib/counterup/counterup.min.js"></script>
  <script src="./assets/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="./assets/lib/tempusdominus/js/moment.min.js"></script>
  <script src="./assets/lib/tempusdominus/js/moment-timezone.min.js"></script>
  <script src="./assets/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

  <!-- Template Javascript -->
  <script src="./assets/js/main.js"></script>
